.aboutus {
    background-image: url(../media/bckgrds/blog_about_bckg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container .readmore {
    flex-basis: 40%;
    padding-top: 17%;
    margin-bottom: 12%;
}
.readmore .divider {
    margin-bottom: 43px;
}
.readmore h3 {
    margin: 0 0 30px 0;
}
.readmore p {
    max-width: 360px;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 1.86;
    text-align: left;
    color: #949494;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 30px;
}
.readmore .btn {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.44px;
    text-align: center;
    color: #ffffff;
}
::-webkit-input-placeholder{
    color:#0b2258;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .5;
    font-weight: 600;
} 
.popup {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 23%, rgba(219, 219, 219, .6) 100%);
    border-radius: 4px;
    z-index: 30;
}
.popup .popup-content {
    position: relative;
    margin: 120px auto 40px 18vw;
    width: 500px;
    height: max-content;
    padding: 20px;
    background-color: #474747;
    border-radius:  4px;
    box-shadow: 0px 0px 10px #000;
    color: white;
    text-transform: none;
    word-spacing: 1.2;
    letter-spacing: 2;
    line-height: 1.4;
    text-align: justify;
    font-style: italic;
    text-indent: 15px;
}
.popup .popup-content a {
    display: block;
    position: absolute;
    top: -10px;
    left: 530px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
.container .fewpics {
    position: relative;
}
.container .fewpics img:first-child {
    position: absolute;
    top: 277px;
    left: 0;
    z-index: 10;
    width: 350px;
    height: 350px;
    transition-duration: .4s;
}
.container .fewpics img:first-child:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: .4s;
    border: 3px solid #36aeea;
    border-radius: 5px;
}
.container .fewpics img:last-child {
    position: relative;
    top: -36px;
    left: 65px;
    max-width: 600px;
    max-height: auto;
    overflow: hidden;
    z-index: 5;
    transition-duration: .4s;
}
.container .fewpics img:last-child:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .5s;
    border: 3px solid #36aeea;
    border-radius: 5px;
    z-index: 20;
}











