@font-face {
    font-family: "Bringin", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    src: url(template/fonts/Bringin.ttf);
}
@font-face {
    font-family: "Opensans", sans-serif;
    src: url(template/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', serif;
    src: url(template/fonts/Raleway.ttf);
}    
@font-face {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    src: url(template/fonts/Roboto.ttf);
}  