@font-face {
    font-family: "Bringin";
    src: url(../fonts/Bringin.ttf);
}
@font-face {
    font-family: "Opensans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.ttf);
}    
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}  