.footer-wrapper {
    background-image: url(../media/bckgrds/bckg_contacts_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .container {
    flex-direction: column;
    align-items: center;
    position: relative;
}
.footer form {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 12%;
    padding: 40px 30px;
    background-color: rgba(79, 99, 105, 0.7);
    border-radius: 10px;
    position: relative;
}

.footer form h2 {
    margin: 0 auto 5px;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 3.6px;
    color: #36aeea;
}
.footer form p {
    margin: 0 auto 2em;
    font-size: 16px;
    line-height: 1.81;
    text-transform: none;
    color: #383e4a;
} 

.footer form input[type] {
    max-width: 90%;
    width: 90%;
    height: 40px;
    margin: 0 auto 1.2em;
    padding: 5px;
    border: none;
    border-radius: 4px;
    box-sizing: unset;
    position: relative;
}

.footer form input[type="submit"] {
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2.56px;
    color: #fff;
}
.footer .endline {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .endline .copyright {
    font-size: 18px;
    text-align: center;
    color: #fff;
    opacity: .7;
    text-transform: none;
}
.footer .endline .social-icons {
    display: flex;
    max-width: 12%;
    justify-content: space-between;
    align-items: center;
 }
.endline .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 0 auto;
    padding: 0 10px;
    transition-duration: .6s;
}
.endline .social-icons a:nth-child(-n+2) {
    margin-right: 3px;
}
.endline .social-icons a:first-child {
    background-color: #29c5f6;
}
.endline .social-icons a:nth-child(2) {
    background-color: #6788ce;
}
.endline .social-icons a:last-child {
    background-color: #54769a;
}
.social-icons a:hover {
    transform: scale(1.2);
    opacity: 1;
    color:#fff;
}
.social-icons a i {
    font-size: 20px;
}
.footer .endline .our-phone {
    font-family: "Roboto";
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    opacity: .7;
} 