.header-wrapper {
    background-image: url(../media/bckgrds/bckg_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100vh;*/
}
.logo-navigation {
    height: 67px;
    padding-top: 25px;
    background-color: #fff;
    opacity: .75;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 25;
    transition-duration: .4s ;
}
.sticky {
    height: 67px;
    padding-top: 25px;
    background-color: #cae5ff;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 25;
    transition-duration: .4s;
    box-shadow: inset 0px 15px 25px 10px rgba(80, 133, 248, 0.7);
}
a {
    width: 117px;
    height: 27px;
    padding-left: 20px;
    margin-right: 50px;
    font-family: "Bringin";
    font-size: 29px;
    line-height: 1.52;
    letter-spacing: normal;
    color: #95a5ad;
    text-transform: capitalize;
    text-decoration: none;
}
.container a span {
    color: #36aeea;
}
    
.container .main-navigation ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.logo-navigation .main-navigation li a {
    font-family: "Raleway";
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 31px;
    margin-right: 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 3.5;
    letter-spacing: normal;
    text-align: center;
    color: #9daeb6;
    text-transform: uppercase;
    transition-duration: .4s;;
    
}
.main-navigation li a:hover {
    border-bottom: solid 6px #36aeea ;
    cursor: pointer;
    font-size: 13px;
    color: #36aeea;
    transition-duration: .4s;
}
.main-navigation li a:active {
    border-bottom: solid 6px #fab521 ;
    font-size: 13px;
    color: #fab521;
}
.main-navigation li a:focus {
    border-bottom: solid 6px #fab521 ;
    font-size: 13px;
    color: #fab521;
    text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
}
.logo-navigation a.btn  {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 153px;
    height: 46px;
    background-color:#c7e0ec9d;
    color: #36aeea;
    padding-left: 0;
    line-height: 46px;
    
}
.to-mountains {
    padding-top: 8%;
    padding-bottom: 8%;
}
.to-mountains .container {
    flex-direction: column;
    border: 3px solid #fff;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    max-height: max-content;
}
.to-mountains .container h1 {
    display: inline-block;
    margin: 40px 0 17px 40px;
    padding: 0;
    max-width: 490px;
    font-family: "Opensans", sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    color: #fff;
    line-height: 0.61;
}
.to-mountains .container h1 span {
    font-family: "Bringin";
    font-size: 66px;
    letter-spacing: 1.32px;
    text-align: left;
    color: #56c7ff;
    text-transform: none;
}
.to-mountains .container p {
    display: flex;
    margin: 0 0 27px 40px;
    max-width: 490px;
    font-family: "Opensans", sans-serif;
    font-size: 18px;
    line-height: 1.61;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);
    text-transform: none;
}
.to-mountains .container  a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 45px 40px;
    padding: 0;
    font-size: 14px;
    letter-spacing: 2.24px;
    color: #fff;
    width: 253px;
    height: 60px;
    box-shadow: 0 0 35px 0 rgba(3, 3, 3, 0.06);
}