@media all and (max-width: 1280px) and (orientation: landscape)  {
    .work-scheme .work-step figcaption::before {
        height: 90%;  
    }
}
@media all and (max-width: 1168px)  {
    .work-scheme .work-step figcaption::before {
        height: 82%;  
    }
    .work-scheme figcaption::after {
        width: 420%;
    }
}
@media all and (max-width: 1024px){
    .container .fewpics img:last-child {
        position: relative;
        top: 10px;
        left: 40px;
        max-width: 550px;
        max-height: auto;
    }
    .work-scheme .work-step figcaption::before {
        height: 77%;  
    }
    .work-scheme figcaption::after {
        width: 400%;
    }
    .customer blockquote {
        font-size: 16px;
        line-height: 1.6;
        position: relative;
    }
}
@media all and (max-width: 992px) {
    .container .readmore {
        margin-bottom: 12%;
    }
    .journal .container .journal-pages {
        margin-bottom: 3%;
    }
    .scheme .work-scheme {
        margin: 0 0 2% 0;
    }
    .customer blockquote {
        margin: 0 auto 10%;
    }
    .ourclients .container .divider {
        padding-top: 4%;
    }
}
@media all and (max-width: 970px) {
    .container a[title="Homepage"] {
        margin-right: 15px;
    }
    a {
        margin-right: 5px;
    }
    .logo-navigation a.btn  {
        width: 100px;
        height: 30px;
        line-height: 30px;
    }
    .container .fewpics img:first-child {
        top: 220px;
        width: 300px;
        height: 300px;
    }
    .container .fewpics img:last-child {
        top: 10px;
        left: 30px;
        max-width: 500px;
    }
    .container .readmore {
        margin-bottom: 7%;
    }
    .journal .container .journal-pages {
        margin-bottom: 2%;
    }
    .scheme .container h2 {
        margin: 0 0 4% 0;
    }
    .work-scheme .work-step {
        margin-block-start: .5em;
        margin-block-end: .5em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }
    .work-step figcaption {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .work-step div {
        width: 130px;
        height: 130px;
    }
    .work-step div svg {
        width: 90px;
        height: 95px;
    }
    .work-step p {
        max-width: 80%;
        font-size: 14px;
        line-height: 1.2;
    }
    .destination-cards .destination:hover::after {
        content: "ORDER THIS TOUR";
        font-size: 1.2em;
    }
}
@media all and (max-width: 875px) {
    .container a[title="Homepage"] {
        margin-right: 3px;
    }
    a {
        font-size: 25px;
        line-height: 67px;
        margin-right: 1px;
    }
    .logo-navigation .main-navigation li a {
        padding:  0;
        margin-right: 10px;
    }
    .main-navigation li a:hover {
        background-color: inherit ;
        box-shadow: none;
        border-radius: none;
    }
    .main-navigation li a:focus {
        background-color: inherit;
        box-shadow: none;
        border-radius: none;
        color: inherit;
    }
    .main-navigation li a:active {
        background-color: inherit;
        box-shadow: none;
    }
    .logo-navigation a.btn  {
        width: 80px;
        height: 30px;
        line-height: 30px;
    }
    .container .fewpics img:last-child {
        top: 10px;
        left: 20px;
        max-width: 450px;
        max-height: auto;
    }
    .offer .customer-data {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: transparent;
        border-radius: 5px;
    }
    .offer .customer-data input[type="text"], input[type="tel"] {
        max-width: 400px;
        width: 90%;
        height: 40px;
        margin-bottom: 15px;
    }
    .offer .customer-data input:first-child {
        border-radius: 0;
        border-right: none;
    }
    .offer .customer-data input[type="submit"] {
        width: 40%;
    }
    .offer .container .data-protection {
        font-size: 12px;
        line-height: 2.2;
        margin-bottom: 5%;
    }
    .journal-pages p {
        font-size: 12px;
        line-height: 1.2;
    }
    .work-scheme figcaption::after {
        width: 320%;
    }
    .destination-cards .destination {
        padding: 5px 10px 10px 10px;
    }
    .destination .star-rating {
        margin-bottom: 20%;
    }
    .destination h5 {
        margin: 0 0 10% 0;
    }
    .destination .prices .reduced-price {
        font-size: 23px;
    }
}
@media all and (max-width: 768px) {
    .logo-navigation {
        position: fixed;
    }
    .logo-navigation .container {
        max-height: 67px;
    }
    .sticky {
        box-shadow: none;
    }
    .logo-navigation a.btn  {
        margin: auto 10px auto auto; 
        height: 30px;
        line-height: 30px;
    }
    .container a[title="Homepage"] {
        margin-right: 25px;
        font-size: 29px;
    }
    .main-navigation li a:hover {
        background-color: inherit ;
        box-shadow: none;
        border-radius: none;
    }
    .main-navigation li a:focus {
        background-color: transparent;
        box-shadow: none;
        border-radius: none;
        color: inherit;
    }
    .main-navigation li a:active {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        color: inherit;
    }
    #topnav li a[href*="#"] {
        display: none;
    }
    #topnav #menuToggler {
        display: block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    } 
    #topnav #menuToggler i {
        font-size: 25px;
        line-height: 67px;
    }
    #topnav.responsive {
        position: relative;
        display: block;
    }
    #topnav.responsive #menuToggler {
          position: absolute;
          left: 0;
          top: 0;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #topnav.responsive #menuToggler:active {
        background-color: transparent;
    }
    #topnav.responsive li a[href*="#"] {
        display: block;
        position: relative;
        left: -165px;
        top: 67px;
        padding: 12px 20px 12px 30px ;
        margin: -1px 0;
        text-align: left;
        font-size: 15px;
        line-height: 15px;
        background-color: #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #topnav.responsive li a[href*="#contacts"]:last-child {
        border-radius: 0 0 25px 0;
    }
    .sticky #topnav.responsive li a[href*="#"] {
        background-color: #cae5ff;
    }
    #topnav.responsive li a[href*="#"]:hover {
        border-radius: 0;
    }
    #topnav.responsive li a[href*="#contacts"]:hover {
        border-radius: 0 0 25px 0;
    }
    #topnav.responsive li a[href*="#"]:focus {
        border-radius: 0;
    }
    #topnav.responsive li a[href*="#contacts"]:focus {
        border-radius: 0 0 25px 0;
    }
    .to-mountains {
        padding: 12% 2% 5% 2%;
    }
    .to-mountains .container a.btn {
        margin: 0 0 4% 0;
        font-size: 14px;
        width: 180px;
        height: 40px;
        line-height: 40px;
    }
    .aboutus {
        background-image: url(../media/blog_about_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container .readmore {
        flex-basis: 66%;
        padding-top: 5%;
        margin-bottom: 8%;
    }
    .readmore .divider {
        margin-bottom: 10%;
    }
    .popup .popup-content {
        position: relative;
        margin: 120px auto 20px 10vw;
    }
    .container .fewpics img:last-child {
        display: none;
    }
    .container .fewpics img:first-child {
        top: 10px;
        left: -50px;
        width: 250px;
        height: 250px;
        border-radius: 0 50px 0 50px;
    }
    .readmore p {
        margin: 0;
        max-width: 290px;
        color:#fff;
        margin-bottom: 20px;
    }
    .journal .divider {
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .journal .container .journal-pages {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 7%;
    }
    .journal-item1 {
        grid-row: 1;
        grid-column: 1;
    }
    .journal-item2 {
        grid-row: 1;
        grid-column: 2;
    }
    .journal-item3 {
        grid-row: 2;
        grid-column: 2;
    }
    .journal-item4 {
        grid-row: 2;
        grid-column: 1;
    }
    .journal-item5 {
        grid-row: 3;
        grid-column: 2;
    }
    .journal-item5::after {
        content: "◄";
        top: 0;
        left: -6.5%;
        z-index: 1;
    }
    .journal-item6 {
        grid-row: 3;
        grid-column: 1;
    }
    .essence {
        margin: 0 auto 7%;
    }
    .journal-pages h4 {
        margin-bottom: 7%;
    }
    .journal-item2, .journal-item4, .journal-item5 {
        padding: 5%; 
    }
    .offer {
        background-repeat: round;
    }
    .offer .container .divider {
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .scheme .container .divider {
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .scheme .container h2 {
        margin: 0 0 4% 0;
    }
    .work-step figcaption {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .work-step div {
        width: 120px;
        height: 120px;
    }
    .work-step div svg {
        width: 80px;
        height: 85px;
    }
    .work-step p {
        max-width: 90%;
        font-size: 13px;
        line-height: 1.2;
    }
    .work-scheme figcaption::after {
        width: 340%;
    }
    .travelwithus .divider {
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .travelwithus h2 {
        margin: 0 0 3% 0;
    }
    .travelwithus .destination-cards {
        margin-bottom: 15%;
    }
    .destination-cards .destination {
        padding: 5px 5px 5px 5px;
        min-height: 250px;
    }
    .destination .star-rating {
        margin-bottom: 5%;
        font-size: 12px;
    }
    .destination h5 {
        margin: 0 0 5% 0;
        font-size: 20px;
    }
    .destination p {
        margin: 0 0 15% 0;
        font-size: 13px;
        line-height: 1.2;
    }
    .destination .prices {
        left: 7%; 
    }
    .destination .prices .normal-price {
        font-size: 13px;
    }
    .destination .prices .reduced-price {
        font-size: 15px;
    }
    .gallery .container .divider {
        padding-top: 6%;
        margin-bottom: 5%;
    }
    .ourclients .container .clients {
        margin-bottom: 5%;
    }
    .customer blockquote {
        font-size: 14px;
        line-height: 1.3;
        position: relative;
    }
    .customer img[alt="client photo"] {
        width: 50px;
        height: 50px;
        margin-right: 1em;
    }
    .customer span {
        font-size: 12px;
        line-height: 12px;
    }
    .footer form {
        width: 55%;
        margin-bottom: 3%;
        padding: 30px 20px;
        border-radius: 7px;
    }
    .footer form p {
        margin: 0 auto 1.5em;
        font-size: 13px;
        font-weight: bold;
    } 
    .footer form input[type] {
        height: 25px;
        padding: 10px;
    }
    .footer .endline {
       padding-left: 15px;
    }
    .footer .endline .social-icons {
        max-width: none;
    }
    .footer .endline .copyright {
        font-size: 15px;
    }
    .footer .endline a[href*="tel"] {
        font-size: 18px;
    } 
}
@media all and (max-width: 700px) {
    .work-scheme figcaption::after {
            width: 300%;
    }
    .popup .popup-content {
        position: relative;
        margin: 120px auto 20px 5vw;
        width: 400px;
    }
    .popup .popup-content a {
        left: 430px;
        font-size: 30px;
    }
}
@media all and (max-width: 650px) {
    .work-scheme figcaption::after {
            width: 270%;
    }
}
@media all and (max-width: 575px) {
    .to-mountains {
        padding: 14.6% 2% 5% 2%;
    }
    .to-mountains .container {
        padding: 0 0 0 20px;
    }
    .to-mountains .container h1 {
        display: inline-block;
        font-size: 40px;
        letter-spacing: 3px;
        max-width: 400px;
    }
    .container .readmore {
        flex-basis: 75%;
        padding-top: 5%;
        margin-bottom: 8%;
    }
    .readmore .divider {
        margin-bottom: 10%;
    }
    .readmore p {
        margin: 0;
        max-width: 350px;
        color:rgba(0, 0, 0, .77);
        margin-bottom: 20px;
        font-weight: bold;
    }
    .container .fewpics img:first-child {
        display: none;
    }
    .popup .popup-content {
        position: relative;
        margin: 120px auto 20px 5vw;
        width: 300px;
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: .5px;
        line-height: 1.3;
    }
    .popup .popup-content a {
        left: 330px;
        font-size: 30px;
    }
    .readmore .divider {
        margin-bottom: 11%;
    }
    .journal .divider {
        padding-top: 7%;
        margin-bottom: 7%;
    }
    .numeration {
        display: none;
    }
    .offer .container .divider {
        padding-top: 7%;
        margin-bottom: 7%;
    }
    .offer .customer-data input[type="submit"] {
        width: 50%;
    }
    .offer .customer-data input[type="text"], input[type="tel"] {
        width: 250px;
    }
    .scheme .container .divider {
        padding-top: 7%;
        margin-bottom: 7%;
    }
    .work-scheme figcaption::after {
            width: 220%;
        }
    .work-scheme .work-step figcaption::before {
        height: 68%;  
    }
    .work-step div {
        width: 100px;
        height: 100px;
    }
    .work-step div svg {
        width: 70px;
        height: 75px;
    }
    .work-step p {
        display: none;
    }
    .container p.hidden-workstep {
        display: flex;
        flex-direction: column;
        margin: 0 0 5% 0;
        text-transform: none;
        color: rgba(0, 0, 0, .77);
    }
    .travelwithus .divider {
        padding-top: 7%;
        margin-bottom: 7%;
    }
    .travelwithus .destination-cards {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .destination-cards .destination:nth-child(n+1) {
        min-height: 150px;
        padding: 10px;
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url(../media/cartoon-card.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .destination .star-rating {
        font-size: 10px;
    }
    .destination h5 {
        margin: 0 0 20% 0;
        font-size: 26px;
    }
    .destination p {
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
    }
    .destination .prices .normal-price {
        font-size: 16px;
    }
    .destination .prices .reduced-price {
        font-size: 20px;
    }
    .gallery .container .divider {
        padding-top: 7%;
        margin-bottom: 7%;
    }
    .gallery .photo-album {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(13, 12vh);
        margin: 0 0 3% 0;
        gap: .1em;
    }
    .gallery .photo-album img:first-child {
        grid-row: 1/5; 
        grid-column: 1/3;
    }
    .gallery .photo-album img:nth-child(2) {
        grid-row: 1/4; 
        grid-column: 3/6;
    }
    .gallery .photo-album img:nth-child(3) {
        grid-row: 8/11; 
        grid-column: 1/6;
    }
    .gallery .photo-album img:nth-child(4) {
        grid-row: 5/8; 
        grid-column: 1/3;
    }
    .gallery .photo-album img:nth-child(5) {
        grid-row: 4/8; 
        grid-column: 3/6;
    }
    .gallery .photo-album img:last-child {
        grid-row: 11/14; 
        grid-column: 1/6;
    }
    .slicky {
        display: none;
    }
    .ourclients .container .divider {
        padding-top: 3%;
        margin-bottom: 5%;   
    }
    .customer img[alt="client photo"] {
        display: none;
    }
    .footer form {
        width: 80%; 
    }
    .footer .endline {
        flex-direction: column;
    }
    .footer .endline .copyright {
        margin-bottom: 5px;
    }
}
@media all and (max-width: 480px), (max-width : 320px) {
    .header-wrapper {
        background-image: url(../media/bckgrds/bckg_header_mini.jpg);
    }
    .logo-navigation a.btn  {
        margin: auto 5px auto auto; 
        height: 35px;
        line-height: 17px;
        width: 35px;
        font-size: 10px;
        border-radius: 8px;
    }
    #topnav.responsive li a[href*="#"] {
        padding: 15px 5px 15px 20px ;
        margin: -1px 0;
        font-size: 13px;
        line-height: 13px;
        background-color: #fff;
    }
    .to-mountains {
        padding: 22% 2% 5% 2%;
    }
    .to-mountains .container {
        padding: 0 0 0 10px;
    }
    .to-mountains .container h1 {
        display: inline-block;
        font-size: 25px;
        letter-spacing: 2px;
        max-width: 250px;
        line-height: .8;    }
     .to-mountains .container a.btn {
        margin: 0 0 4% 0;
        font-size: 14px;
        width: 120px;
        height: 35px;
        line-height: 35px;
    }   
    .to-mountains .container p {
        max-width: 280px;
        font-size: 16px;
    }
    .aboutus {
        background-position: center;
    }
    .readmore .divider {
        padding-top: 7%;
        margin-bottom: 15%;
    }
    .readmore .btn {
        width: 120px;
        height: 32px;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .popup .popup-content {
        margin: 80px auto 20px 5vw;
        width: 240px;
        font-size: 13px;
    }
    .popup .popup-content a {
        left: 265px;
        font-size: 30px;
    }
    .journal .divider {
        padding-top: 10%;
        margin-bottom: 11%;
    }
    .journal .container .journal-pages {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto 1fr auto 1fr auto 1fr ;
        margin-bottom: 7%;
    }
    .journal-item1 {
        grid-row: 2;
        grid-column: 1;
    }
    .journal-item2 {
        grid-row: 1;
        grid-column: 1;
    }
    .journal-item3 {
        grid-row: 4;
        grid-column: 1;
    }
    .journal-item4 {
        grid-row: 3;
        grid-column: 1;
    }
    .journal-item5 {
        grid-row: 5;
        grid-column: 1;
    }
    .journal-item6 {
        grid-row: 6;
        grid-column: 1;
    }
    .offer .container .divider {
        padding-top: 12%;
        margin-bottom: 13%;
    }
    .offer {
        background-repeat: no-repeat;
    }
    .offer .customer-data input[type="submit"] {
        width: 120px;
        height: 40px;
    }
    .scheme .container .divider {
        padding-top: 12%;
        margin-bottom: 11%;
    }
    .work-step figcaption {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .work-scheme figcaption::after {
        width: 190%;
    }
    .work-scheme .work-step figcaption::before {
        height: 40%;  
}
    .work-step div {
        width: 60px;
        height: 60px;
    }
    .work-step div svg {
        width: 40px;
        height: 45px;
    }
    .work-step div i {
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 25px;
        line-height: 30px;
    }
    .travelwithus .divider {
        padding-top: 12%;
        margin-bottom: 12%;
    }
    .destination .star-rating {
        display: none;
    }
    .destination h5 {
        margin: 0 0 20% 0;
        font-size: 26px;
    }
    .destination p {
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
    }
    .destination .prices .normal-price {
        font-size: 16px;
    }
    .destination .prices .reduced-price {
        font-size: 20px;
    }
    .gallery .container .divider {
        padding-top: 12%;
        margin-bottom: 11%;
    }
    .gallery .photo-album {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(14, 9vh);
        margin: 0 0 5% 0;
        gap: 3px;
    }
    .gallery .photo-album img:first-child {
        grid-row: 1/5; 
        grid-column: 1/3;
    }
    .gallery .photo-album img:nth-child(2) {
        grid-row: 1/5; 
        grid-column: 3/6;
    }
    .gallery .photo-album img:nth-child(3) {
        grid-row: 5/8; 
        grid-column: 1/6;
    }
    .gallery .photo-album img:nth-child(4) {
        grid-row: 11/15; 
        grid-column: 1/3;
    }
    .gallery .photo-album img:nth-child(5) {
        grid-row: 11/15; 
        grid-column: 3/6;
    }
    .gallery .photo-album img:last-child {
        grid-row: 8/11; 
        grid-column: 1/6;
    }
    .ourclients .container .divider {
        padding-top: 12%;
        margin-bottom: 11%;   
    }
    .ourclients .container h2 {
        margin: 0 0 7% 0;
        text-align: center;
    }
    .ourclients .container .clients {
        display: block;
    }
    .customer blockquote {
        margin: 0 auto 1%;
    }
    .customer span {
        margin: 0 auto 10%;
    }
    .footer form {
        width: 90%; 
        margin-bottom: 1%;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .footer form p {
        font-size: 14px;
        text-align: center;
    } 
    .footer .endline {
        flex-direction: column;
    }
    .footer .endline .copyright {
        margin-bottom: 5px;
    }
}
@media all and (max-width: 320px){
    .header-wrapper {
        height: 100vh;
    }
    .to-mountains {
        padding: 35% 2% 3% 2%;
    }
}

