.slicky {
    background-color: #f8f9fa;
    background: linear-gradient(90deg, rgba(202, 202, 202, .4) 5%, rgba(240, 239, 239, .4) 100%);
}
.slicky .container {
    justify-content: center;
}
.slicky .container .slider {
    width: 100%;
    padding: 40px ;
}
.slicky .container i {
    font-size: 40px;
    color: #36aeea;
    opacity: .7;
    text-align: center;
    outline: none;
}